// Override / set color variables
$blue: #6C63FF;
$red: #D63031;
$green: #20bf6b;
$yellow: #ffa801;

$primary: $blue;
$success: $green;
$danger: $red;
$warning: $yellow;


:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }

.mt--200 {
  margin-top: -160px;
}

a:hover {
  text-decoration: none;
}

.jazzicon > :first-child {
  border-radius: 0px !important;
}

// Typography
h1, h2, h3, h4, h5, h6 {
    color: #1E272E;
}

p {
  font-weight: 300;
}

.text-highlighted {
  font-weight: 600;
}

// Buttons
.btn {
    border-radius: 3px;
}

.btn:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.4); 
    transition: 0.3s;
}

.btn-confirm {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.8rem 1rem;
  }

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.8rem 1rem;
  }

.swal2-styled.swal2-confirm {
  background-color: $blue!important;
}

// Forms & Inputs
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 3px;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    /* width: 100%; */
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .form-label-group > label {
    pointer-events: none;
  }
  
  .clickable-text {
    cursor: pointer;
  }

  .multiselect__tag, 
  .multiselect__tag-icon:focus, 
  .multiselect__tag-icon:hover {
    background: $blue;
  }

// Cards
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.4); 
    transition: 0.4s;
}

// Errors & Messages
.firebase-error, .firebase-success {
  margin-bottom: 12px;
  font-size: 12px;
  padding: 10px 16px;
  border-radius: 4px;
}

.firebase-error {
  color: #a94442;
  background: #F3DEDE;
}

.firebase-success {
  color: #3c763d;
  background: #DEF3DE;
}
